.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
}

.title {
    font-size: 4rem;
    color: var(--primary-blue);
    margin-bottom: 1rem;
}

.message {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}

.link {
    background-color: var(--primary-blue);
    color: var(--white);
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.link:hover {
    background-color: var(--secondary-blue);
}